.jumbotron {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%);
 	background :url("bg.jpg") no-repeat center;
	background-size:cover;
	position: relative;
}
.container{
	text-align: center;
	padding-top: 12%;

}

.display-4{
	text-align: center;
	border-style: double;
	border-width: 6px;
	border-radius:10px;
	border-color: #FFC200;
    display: inline-block;
}
.heading{
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;

}
.lead{
	text-align: center;
	padding-top: 5%;
	float: none;
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
	font-color:;
}

.buttondiv
{
	font-size: 50px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin:10px 10px 10px 10px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
