body {
  background-color: lightgrey;
  color: blue;
}
.jumbotron
{
	font-family: roboto;
	background-image: url("textviewer.jpeg");
	background-image:no-repeat;
	background-size:100%;
	padding-bottom:30px;

}
.details{
	font-family: 'Muli regular', cursive;
	letter-spacing: 2px;
	line-height: 350%;
	font-size:15px;
	font-color:#00FF00;
}