table{
	border:1px solid;
	width:100%;
	
}
table,th,td{
	padding:15px;
	border:1px solid #a4a4a4;
	height:30px;
}
th{
	text-align-last: :left;
	background-color:#ececec;
}
tr:hover 
{background-color:#f5f5f5;}
